<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AboutConcurrencyModeNoneEntities" connectionString="metadata=res://*/AboutConcurrencyModeNone.csdl|res://*/AboutConcurrencyModeNone.ssdl|res://*/AboutConcurrencyModeNone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\AboutConcurrency.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AboutConcurrencyModeFixedEntities" connectionString="metadata=res://*/AboutConcurrencyModeFixed.csdl|res://*/AboutConcurrencyModeFixed.ssdl|res://*/AboutConcurrencyModeFixed.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\AboutConcurrency.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>