<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AboutPocoHandlingEntities" connectionString="metadata=res://*/AboutPocoHandling.csdl|res://*/AboutPocoHandling.ssdl|res://*/AboutPocoHandling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\AboutPocoHandling.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>