<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="KoansEntities" connectionString="metadata=res://*/KoansModel.csdl|res://*/KoansModel.ssdl|res://*/KoansModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Koans.Data.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>